html {
    overflow-y: scroll; 
}
body {
    background-color: rgb(30,31,53);
    scrollbar-gutter: stable;
    overflow: overlay;
}

::-webkit-scrollbar {
  width: 13px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(33, 37, 41);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

#main {
    display: flex;
    margin-top: 100px;
}

.vertical-scroll-nav {
    height: 300px; 
    overflow-y: auto; 
    width: 200px; 
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    overflow: scroll;
    scrollbar-color: gray transparent;
    scrollbar-width: thin;
    left: 150px;
    top: 200px;
    position: fixed;
}

.vertical-scroll-nav a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background: transparent;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

.vertical-scroll-nav a:hover {
    background: #e0e0e0;
    color: black;
}

.content {
    display: flex; 
    flex-direction: column; 
    justify-content: left;
}

button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  width: fit-content;
  text-align: left;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.szovegek {
    color:white;
    white-space: pre-wrap;
}

.copy-btn {
    background-color: transparent;
    color: black;
    width: 100px;
}

.copy-btn:focus,
.copy-btn:hover {
  color: black;
  border: black;
}

.collapseBtn {
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .vertical-scroll-nav {
        left: 50px;
    }
}

@media (max-width: 825px) {
    #main {
        flex-direction: column;
    }

    .scrollable {
        margin: auto auto 100px auto;
    }

    .content {
        margin: auto;
    }

    .vertical-scroll-nav {
        position: static;
    }
}