body {
    font-family: Arial, sans-serif;
    background-color: rgb(30,31,53);
    margin: 0;
    padding: 20px;
}

header {
    background: #004466;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

section {
    background: white;
    padding: 15px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

h2 {
    color: #004466;
}

pre {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: monospace;
}